.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-form {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-card-title {
  font-size: 24px;
  color: #333;
}

.full-width-input {
  width: 100%;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

button.mat-raised-button {
  width: 100%;
  margin-top: 10px;
}

mat-card-content{
  margin-top: 30px;
}
